<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joins.myapp.persistence.FileMapper">

	<insert id="insert" parameterType="file">
        INSERT INTO file (uuid, fileName, filePath, boardNo)
        VALUES (#{uuid}, #{fileName}, #{filePath}, #{boardNo})
    </insert>
     
    <delete id="deleteAll" parameterType="long">
    	DELETE FROM file
    	WHERE boardNo = #{boardNo}
    </delete>
    
    <select id="findByUUID" resultType="file">
        SELECT * FROM file WHERe uuid = #{uuid}
    </select>

</mapper>